[Desktop Entry]
Encoding=UTF-8
Name=MMR
Comment=MMR P2P Cryptocurrency
Exec=/usr/bin/MMR-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/MMR;
Categories=Office;
Name[en_US]=MMR-qt.desktop
